Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/ThirdPerson
Content/Characters
Content/Collections
Content/Developers
Content/__ExternalActors__
Content/__ExternalObjects__
Content/LevelPrototyping
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace